name: hadolint-security

on:
  push:
  pull_request:

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Lint Dockerfile
      uses: hadolint/hadolint-action@v3.1.0
      with:
       dockerfile: Dockerfile.myfixed
       failure-threshold: warning
